.btns-clock{
    display: grid;
    justify-content: center;
    align-items: center;
}

.btn-clock{
    margin: 10px;
    border-radius: 50%;
    background: black;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
}

.btn-clock:hover{
    opacity: 0.5;
    transition: all 0.2s;
    cursor: pointer;
}