
.item-cardpizza {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 10px 10px 0px;
    border-radius: 5px;
    border: 1px solid #ddd;
    
}

.item-cardpizza h1 {
    font-size: 15px;
    margin: 0px 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-cardpizza p {
    color: #666;
    line-height: 24px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}